$colors: (
	common: (
		white: #fff,
		black: #000,
		blue: #2785ff,
		heading: #171717,
		text: #707070,
		border: #eaebee,
		placeholder: #707070,
		liteclr: #dbdbdb
	),
	theme: (
		1: #545047,
		2: #eddd5e,
		3: #5b8c52,
	),
	bg: (
		gray: #f3f4f6,
		black: #000,
		footer: #f6f6f6,
	),
);
 